{{#partial "content"}}

    <h1>Add a new model.squad!</h1>

    <form action="/squad/new" method="post">
        <label for="Name">Squad name</label>
        <input id="Name" name="Name" type="text"><br>

        <label for="Cause">Squad cause</label>
        <input id="Cause" name="Cause" type="text"><br>

        <label for="size">Squad size</label>
        <input id="size" name="size" type="number"><br>
        <button type="submit" class="btn btn-default">Go!</button>
    </form>

{{/partial}}

{{> layout.hbs}}