<!--{{#partial "content"}}-->

<!--    <h1>Hello From Afar</h1>-->
<!--    <p>Dear Friend,</p>-->
<!--    <p>How are you? I hope that you are having a nice weekend. I'm vacationing in Iceland while I learn programming! </p>-->
<!--    <p>Friend, you would not believe how cold it is here. I should have gone to Hawaii instead.</p>-->
<!--    <p>But I like programming a lot, so I've got that going for me. </p>-->
<!--    <p>Looking forward to seeing you soon. I'll bring you back a souvenir. </p>-->
<!--    <p>Cheers,</p>-->
<!--    <p>Travel Enthusiast Jane</p>-->
<!--    <p><a href='/favorite_photos' >P.S. Check out my favorite travel photos here.</a></p>-->
<!--{{/partial}}-->

<!--{{> layout.hbs}}-->


{{#partial "content"}}

    <h1>Hero list!</h1>

    {{#if posts}}
        {{#each posts }}
            <p>Current post:</p>
            <p>{{ content }} <a href="/hero/{{id}}">read more...</a></p>
        {{/each}}
    {{else}}
        <p>No posts!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}