{{#partial "content"}}
            <h5>hero name</h5>
            <p> {{ name }}</p>
            <h5>Hero age:</h5>
            <p> {{ hero.age }}</p>
            <h5>Hero power:</h5>
            <p> {{ hero.power}}</p>
            <h5>Hero weakness:</h5>
            <p> {{ hero.weakness}}</p>

    <h1>Success!</h1>

    Your  post has been saved.

    <a href="/heroes/new">Go Back</a>
{{/partial}}

{{> layout.hbs}}