{{#partial "content"}}
    <h5>Squad name:</h5>
    <p> {{ name }}</p>
    <h5>Squad cause:</h5>
    <p> {{ cause}}</p>
    <h5>Squad size:</h5>
    <p> {{size}}</p>
    <h1>Success!</h1>
    Your  post has been saved.

    <a href="/squades/new">Go Back</a>
{{/partial}}

{{> layout.hbs}}